In [40]:
import pandas as pd
counties = pd.read_html('https://www.newyork-demographics.com/counties_by_population')
county_data=counties[0]
county_data["County"]=[county.replace(" County","").strip() for county in county_data["County"]]
county_data["County"]
county_data = county_data[county_data.County.str.contains('United States Census') == False]
county_data["County"]
county_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 62 entries, 0 to 61
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Rank        62 non-null     object
 1   County      62 non-null     object
 2   Population  62 non-null     object
dtypes: object(3)
memory usage: 1.9+ KB

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

In [41]:
import pandas as pd
data=pd.read_csv("unemp.csv")
data.head()

   Year  Month  ... Beneficiaries  Benefit Amounts (Dollars)
0  2020      6  ...        17,500                  24,070,000
1  2020      6  ...         2,200                   2,680,000
2  2020      6  ...       145,400                 249,000,000
3  2020      6  ...        11,900                  13,890,000
4  2020      6  ...         5,500                   6,680,000

[5 rows x 6 columns]

In [42]:
county_clean=pd.merge(county_data, data, how='inner', on='County', left_on=None, right_on=None,
         left_index=False, right_index=False, sort=True,
         suffixes=('_x', '_y'), copy=True, indicator=False,
         validate=None)

In [44]:
county_clean.info()

county_clean["Benefits per Beneficiary"]=0 #county_clean.iloc[:,7]/county_clean.iloc[:,6] need to convert to int
county_clean.head()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 14508 entries, 0 to 14507
Data columns (total 8 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Rank                         14508 non-null  object
 1   County                       14508 non-null  object
 2   Population                   14508 non-null  object
 3   Year                         14508 non-null  int64
 4   Month                        14508 non-null  int64
 5   Region                       14508 non-null  object
 6   Beneficiaries                14508 non-null  object
 7    Benefit Amounts (Dollars)   14508 non-null  object
dtypes: int64(2), object(6)
memory usage: 1020.1+ KB

  Rank  County  ...  Benefit Amounts (Dollars)   Benefits per Beneficiary
0   14  Albany  ...                  24,070,000                         0
1   14  Albany  ...                  20,690,000                         0
2   14  Albany  ...                  15,920,000                         0
3   14  Albany  ...                   4,020,000                         0
4   14  Albany  ...                   2,350,000                         0

[5 rows x 9 columns]

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14976 entries, 0 to 14975
Data columns (total 6 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Year                         14976 non-null  int64
 1   Month                        14976 non-null  int64
 2   Region                       14976 non-null  object
 3   County                       14976 non-null  object
 4   Beneficiaries                14976 non-null  object
 5    Benefit Amounts (Dollars)   14976 non-null  object
dtypes: int64(2), object(4)
memory usage: 702.1+ KB